<div class="container">
    <div class="row">
        <div class="col-xs-12">

<h2>classement : </h2>
<table>
    <tr>
    <td>classement</td>
    <td>Nom équipe </td>
    <td>match jouée</td>
    <td>les points</td>
      
    </tr>
    <tr>
      <td>1</td>
      <td>realmadrid</td>
      <td>6</td>
      <td>18</td>
    </tr>
    <tr>
      <td>2</td>
      <td>arsenal</td>
      <td>6</td>
      <td>17</td>
    </tr>
    <tr>
        <td>3</td>
        <td>barcelone </td>
        <td>6</td>
        <td>16</td>
          
        </tr>
        <tr>
          <td>4</td>
          <td>man city</td>
          <td>6</td>
          <td>15</td>
        </tr>
        <tr>
          <td>5</td>
          <td>man united</td>
          <td>6</td>
          <td>14</td>
        </tr>
        <tr>
            <td>6</td>
            <td>juventus</td>
            <td>6</td>
            <td>14</td>
              
            </tr>
            <tr>
              <td>7</td>
              <td>inter milan</td>
              <td>6</td>
              <td>13</td>
            </tr>
            <tr>
              <td>8</td>
              <td>ac milan</td>
              <td>6</td>
              <td>12</td>
            </tr>
            <tr>
                <td>9</td>
                <td>sevilla</td>
                <td>6</td>
                <td>10</td>
                  
                </tr>
                <tr>
                  <td>10</td>
                  <td>roma</td>
                  <td>6</td>
                  <td>9</td>
                </tr>
               



  </table>


</div>
</div>
</div>