<div class="container">
    <div class="row">
        <div class="col-xs-12">
<h4> Gardiens : </h4>
<table>
    <tr>
        <td>nom joueur</td>
        <td>numéro du joueur</td>
    </tr>
    <tr>
        <td>COURTOIS</td>
        <td>1</td>
    </tr>
    <tr>
        <td>LUNIN</td>
        <td>13</td>
    </tr>

</table>
<h4> Défenseuses : </h4>
<table>
    <tr>
        <td>nom joueur</td>
        <td>numéro du joueur</td>
    </tr>
    <tr>
        <td>CARVAJAL</td>
        <td>2</td>
    </tr>
    <tr>
        <td>E.MILITAO</td>
        <td>3</td>
    </tr>
    <tr>
        <td>ALABA</td>
        <td>4</td>
    </tr>
    <tr>
        <td>NACHO</td>
        <td>6</td>
    </tr>
    <tr>
        <td>RUDIGER</td>
        <td>22</td>
    </tr>
    <tr>
        <td>MENDY</td>
        <td>23</td>
    </tr>
    <tr>
        <td>FRAN GARCIA</td>
        <td>20</td>
    </tr>

</table>

<h4>Milieux : </h4>
<table>
    <tr>
        <td>nom joueur</td>
        <td>numéro du joueur</td>
    </tr>
    <tr>
        <td>BELLINGHAM</td>
        <td>5</td>
    </tr>
    <tr>
        <td>KROSS</td>
        <td>8</td>
    </tr>
    <tr>
        <td>MODRIC</td>
        <td>10</td>
    </tr>
    <tr>
        <td>CAMAVINGA</td>
        <td>12</td>
    </tr>
    <tr>
        <td>VALVERDE</td>
        <td>15</td>
    </tr>

</table>
<h4>Attaquants : </h4>
<table>
    <tr>
        <td>nom joueur</td>
        <td>numéro du joueur</td>
    </tr>
    <tr>
        <td>VINI JR.</td>
        <td>7</td>
    </tr>
    <tr>
        <td>RODRI</td>
        <td>11</td>
    </tr>
    <tr>
        <td>JOSELU</td>
        <td>14</td>
    </tr>
    <tr>
        <td>BRAHIMI</td>
        <td>21</td>
    </tr>

</table>
</div>
</div>
</div>