<div class="container">
    <div class="row">
        <div class="col-xs-12">
    <b>
        <i>
    <h2>Liste des équipe : </h2>
        </i>
    </b>
        <ul>
            <h4 [ngStyle]="{color:'blue'}">{{equipe1}}</h4>
            <h4 [ngStyle]="{color:'blue'}">{{equipe2}}</h4>
            <h4 [ngStyle]="{color:'blue'}">{{equipe3}}</h4>
            <h4 [ngStyle]="{color:'blue'}">{{equipe4}}</h4>
            <h4 [ngStyle]="{color:'blue'}">{{equipe5}}</h4>
            <h4 [ngStyle]="{color:'blue'}">{{equipe6}}</h4>
            <h4 [ngStyle]="{color:'blue'}">{{equipe7}}</h4>
            <h4 [ngStyle]="{color:'blue'}">{{equipe8}}</h4>
            <h4 [ngStyle]="{color:'blue'}">{{equipe9}}</h4>
            <h4 [ngStyle]="{color:'blue'}">{{equipe10}}</h4>

        </ul>
    </div>
    </div>
    </div>